@tailwind base;
@tailwind components;
@tailwind utilities;

.font-face{
    font-family:'open sans'
}
.custom-textarea {
  font-size: 1.5rem;
  line-height: 2rem;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden; /* Prevents scrollbar from appearing */
}
.arrow-icon {
    font-weight: bold; /* Bold */
    transition: transform 0.3s ease, left 0.3s ease;
  }
.char-count {
  font-weight: 500;
  margin-top: 1px;
  padding-bottom: 1px;
  position: absolute; /* Ensure it is positioned independently */
  bottom: .5rem; /* Push it below the textarea */
  left: 1rem; /* Align it with the textarea */
  text-align: left;
  width: auto;
}

/* Submit Button Animation */
.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  width: 3rem; /* Initial circular shape */
  height: 3rem;
  cursor: pointer;
  border-radius: 9999px; /* Fully rounded */
  position: relative;
}

.submit-btn:hover {
  width: 12rem; /* Expanded width on hover */
  padding-left: 3rem; /* Spacing for the text */
}

.arrow-icon {
  transition: transform 0.3s ease, left 0.3s ease;
}

.submit-btn:hover .arrow-icon {
  transform: translateX(10px);
  left: 1rem; /* Move arrow to the left on hover */
}

.translate-text {
  opacity: 0;
  transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.submit-btn:hover .translate-text {
  opacity: 1;
  margin-left: 1rem;
}

/* Keyboard Slide Animation */
.keyboard-slide-enter-active,
.keyboard-slide-leave-active {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.keyboard-slide-enter {
  transform: translateY(50px); /* Starts below */
  opacity: 0; /* Fully transparent */
}

.keyboard-slide-leave-to {
  transform: translateY(50px); /* Ends below */
  opacity: 0; /* Fully transparent */
}
.error-message {
  color: #e53e3e;
}